.shuziweiba {
    border: 1px solid red;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    position: relative;
    /*
        方案1：
        通过‘padding-top’为topBar显示预留空间，防止内容区靠近顶上内容被遮挡、
        同时要保证：预留空间不能被用户看到，即预留空间滚动到可见区域时，toBar是一定已经显示出来的
    */
    /* padding-top: 50px; */
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0px 10px;
    /* border: 1px solid blue; */
    background-color: lightcoral;
    overflow: hidden;

    /*动画方案1*/
    /* transition: height 1s linear; */

    /*动画方案2*/
    transition: top 0.3s linear;
    position: absolute;
    right: 0;
    left: 0;
    top: 0px;
}

.noheight {
    /*动画方案1*/
    /* height: 0px; */

    /*动画方案2*/
    top: -50px;
}

.content {
    display: flex;
    flex-grow: 1;
    overflow: auto;
    height: 0px; /*初始高度为0，自行撑高，超过容器则滚动*/
    border: 1px solid red;
}

.bottombar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0px 10px;
    /* border: 1px solid yellow; */
    background-color: lightcoral;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*图片*/
li div {
    background-color: lightgreen;
    border: 1px solid crimson;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*文字段落*/
li p {
    border: 1px solid crimson;
}