/*主页组件的样式文件*/
html,body{
    height: 100%;
    width: 100%;
    /* margin: 0px;
    padding: 0px; */
}
#root{
    height: 100%;
    display: flex;
}

/*主页布局*/
.main{
    display: flex;
    border: 1px solid #61dafb;
    flex-grow: 1;
    /* justify-content: center; */
    flex-direction: column;
    /* padding: 10px; */
}
/*标题栏*/
.title{
    border: 1px solid gray;
    height: 30px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    color: #61dafb;
}