.inputcomponent{
    height: 80px;
    display: flex;
    border: 1px solid gray;
    /* margin: 10px; */
    align-items: center;
    padding: 0 10px 0 10px;
    flex-shrink: 0;
}
.btn{
    height: 50px;
    width: 100px;
    margin-left: 5px;
    display: none;
}
.btn:hover{
    cursor: pointer;
}
.text{
    flex-grow: 1;
    height: 48px;
    padding: 0px;
    border: 1px solid gray;
    padding: 0 10px 0 10px;
    border-radius: 5px;
}